<include file="Public:_header" />

<div class="con_fr ">
	<div class="con_fr_title">
		
		<span class="icon_bg_7"><i class=" icon icon_7"></i></span>
		<!--<span>添加合作伙伴</span>&nbsp;&nbsp;&nbsp;&nbsp;<span><a href="__APP__/Admin/Cooperation">返回列表</a></span>-->
        <a href="__APP__/Admin/CooperationConfig/index">合作伙伴分类列表</a> > <span>修改合作伙伴分类</span>
        
	</div>
	<div class="con_fr_des">
        <form method="post" action="__APP__/Admin/CooperationConfig/saveEdit" enctype="multipart/form-data" name="adForm">
            <input type="hidden" name="id" value="{$data['id']}"/>
            <div class="user_text clearfix">
				<label class="user_title">分类名称：</label>
				<div class="user_input">
                    <input  name="name" id="title" class="biaoti" type="text" value="{$data['name']}" onblur="if(this.value=='')document.getElementById('titleDiv').innerHTML='*请填写分类名称！';else document.getElementById('titleDiv').innerHTML='' "/>
				</div>
                <div class="user_des " id="" >
					<span id="titleDiv"></span>
				</div>
			</div>
            <div class="user_text clearfix">
				<label class="user_title">描述：</label>
				<div class="user_textarea">
                    <textarea  name="desc" id="desc" class="biaoti" type="text" value="">{$data['desc']}</textarea>                    
				</div>
                <div class="user_des " id="" >
					<span id="descDiv"></span>
				</div>
			</div>
            <div class="user_btn clearfix">
                <a class="user_btn_save" href="javascript:void(0);" onclick="run();">确认修改</a>
            </div>			
		</form>
    </div>
</div>

<include file="Public:_footer" />
<script>
	function run(){
		if($('#title').val() == ''){
			$('#titleDiv').html('*请填写标题！');
			return false;
		}else{
			$('#titleDiv').html('');
		}
		document.forms.adForm.submit();
	}
</script>