<include file="Public:_header" />
<div class="con_fr ">
	<div class="con_fr_title">
		
		<span class="icon_bg_7"><i class=" icon icon_7"></i></span>
		<!--<span>添加合作伙伴</span>&nbsp;&nbsp;&nbsp;&nbsp;<span><a href="__APP__/Admin/Cooperation">返回列表</a></span>-->
        <a href="__URL__/index">广告尺寸列表</a> > <span>修改广告尺寸</span>
        
	</div>
	<div class="con_fr_des">
        <form method="post" action="__URL__/saveEdit" enctype="multipart/form-data" name="adForm">
            <input type="hidden" name="id" value="{$data['id']}"/>
            <div class="user_text clearfix">
				<label class="user_title">尺寸名称：</label>
				<div class="user_input">
                    <input class="text_mes" value="{$data['size_name']}" name="size_name" id="size_name" readonly />
				</div>
			</div>
            <div class="user_text clearfix">
            	<label class="user_title">宽：</label>
				<div class="user_input">
                    <input class="text_mes" value="{$data['width']}" name="width" readonly />
				</div>
			</div>
            <div class="user_text clearfix">
            	<label class="user_title">高：</label>
				<div class="user_input">
                    <input class="text_mes" value="{$data['height']}" name="height" readonly />
				</div>
			</div>
            <div class="user_text clearfix">
            	<label class="user_title">作品积分：</label>
				<div class="user_input">
                    <input class="text_mes" value="{$data['price']}" name="price" />
				</div>
			</div>
            <div class="user_text clearfix">
            	<label class="user_title">赞助积分（积分/天）：</label>
				<div class="user_input">
                    <input class="text_mes" value="{$data['score']}" name="score" />
				</div>
			</div>
            <div class="user_text clearfix">
                <label class="user_title">广告位类型：</label>
                <div class="user_radio">
                    <label><input type="radio" <if condition="$data['type'] neq 1"> checked="checked" </if> value="0" name="type">普通广告位</label>
                    <label><input type="radio" <if condition="$data['type'] eq 1"> checked="checked" </if> value="1" name="type">404广告位</label>
                </div>
            </div>
            <div class="user_text clearfix">
				<label class="user_title">图片：</label>
                <div class="user_photo">
                    <input type="file" id="file_upload" name="" />
                    <if condition = "$data['pic'] eq ''">
                        <img src="__PUBLIC__/js/uploadify/default.png" id="thumbpic" align="absmiddle" alt='缩略图'/>
                    <else />
                        <img src="{$data['pic']}" id="thumbpic" align="absmiddle" alt='缩略图'/>
                    </if>                    
					<span style=" vertical-align:top;">
					<a href="javascript:void(0);" onclick="delPic()"><img src="__PUBLIC__/js/uploadify/cancel.png" title="删除图像" /></a></span><span style="color:red; font-size: 11px;">
					</span>
                    <input class="input" type="hidden" name="pic" id="AdPic" value="{$data.pic}" />
                </div>
            </div>
            <div class="user_btn clearfix">
                <a class="user_btn_save" href="javascript:void(0);" onclick="document.forms.adForm.submit();">确认修改</a>
            </div>			
		</form>
    </div>
</div>
<include file="Public:_footer" />
<script>
    $(document).ready(function() {
        $('#file_upload').uploadify({
            'uploader'  : '__PUBLIC__/js/uploadify/uploadify.swf',
            'script'    : '__APP__/Admin/Public/uploadLogo/',
            'scriptData': { 'folderName': 'adSizeConfig'},
            'cancelImg' : '__PUBLIC__/js/uploadify/cancel.png',
            'folder'    : '__PUBLIC__/upload/adSizeConfig/',
            'auto'      : true,
            'fileDesc' : "请选择jpg,gif,png,jpeg图片类型",
            'fileExt'  : '*.jpg;*.gif;*.png;*.jpeg',
            'method'   : "POST",
            'buttonImg'   : '__PUBLIC__/js/uploadify/select.png',
            'fileDataName'   : "adPic",
            'onComplete':function(event,queueId,fileObj,response,data){
                console.log(response)
                if(response==0){
                    alert("上传失败，请重试");
                }else{
                    $("#AdPic").val(response);
                    $("#is_uplode").val(1);
                    $("#plus_logo").show();
                    $("#thumbpic").attr("src", response);
                }
            }
        });
    });

</script>
<script>
    function delPic(){
        $("#thumbpic").attr("src", '__PUBLIC__/js/uploadify/default.png');
        $("#AdPic").val('');
        $("is_upload").val('');
    }
</script>